[Desktop Entry]
Type=Application
Name=Livedesk
GenericName=Live Wallpaper for GNOME
Comment=Configure Livedesk live video wallpaper
Exec=livedesk
Icon=me.tamkungz.Livedesk
Categories=GTK;GNOME;Settings;DesktopSettings;
StartupNotify=true
